// Set variables to overwrite Buefy
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
$family-sans-serif: 'Pangolin', cursive;

html,
body,
#app {
  height: 100%;
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar,
textarea::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  display: none;
}

.textarea {
  resize: none !important;
}

$section-padding: 2rem 1.5rem;

$footer-padding: 2rem 1.5rem;
.has-text-pink {
  color: pink;
  &:hover {
    color: rgb(250, 15, 250);
  }
}

.loading-dots {
  &:after {
    content: '\00a0\00a0\00a0';
    animation: progress-ellipsis 1s infinite;
  }
}

@keyframes progress-ellipsis {
  0% {
    content: '\00a0\00a0\00a0';
  }
  30% {
    content: '.\00a0\00a0';
  }
  60% {
    content: '..\00a0';
  }
  90% {
    content: '...';
  }
}

// Import Bulma's core
@import '~bulma/sass/utilities/_all';
@import '~bulma';
@import '~buefy/src/scss/buefy';
