// Set variables to overwrite Buefy
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
$family-sans-serif: 'Pangolin', cursive;
.textarea {
	resize: none !important;
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar,
textarea::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
	display: none;
}

$section-padding: 2rem 1.5rem;

$footer-padding: 2rem 1.5rem;
.has-text-pink {
	color: pink;
	&:hover {
		color: rgb(250, 15, 250);
	}
}

.container-main {
	min-height: 100vh;
}

// Import Bulma's core
@import '~bulma/sass/utilities/_all';
@import '~bulma';
@import '~buefy/src/scss/buefy';
